/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

html {
    background-color: #F5F7F9;
    font-family: 'Roboto', sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    /*animation: App-logo-spin infinite 8s linear;*/
    height: 40px;
}


.App-header {
    background-color: #2C3E50;
    height: 40px;
    padding: 10px;
    color: white;
}

.App-intro {
    font-size: large;
}

/*.Task-container-header {*/
    /*display: inline-block;*/
/*}*/

.Task-list {
    width: 875px;
    margin-left: auto ;
    margin-right: auto ;
}

.card {
    height: 192px;
    background-color: #FFFFFF;
}

.card-title {
    padding-top: 16px !important;
}

.card-title h5 {
    text-transform: uppercase;
    font-size: 13px !important;
    font-weight: 900 !important;
    color: #8E9FB1 !important;
    letter-spacing: 2px !important;

}

ul {
    list-style-type: none;
    padding-left: 0px;
}
li {
    list-style-type: none;
    margin-bottom: 11px;
}

.add-button {
    color: white !important;
    background-color: #8E9FB1 !important;
    text-transform: capitalize !important;
    height: 42px !important;
    width: 92px !important;
}

.save-button {
    color: white !important;
    background-color: #5AC597 !important;
    text-transform: capitalize !important;
    height: 42px !important;
    width: 42px !important;
    /*margin-right: 4px;*/
}

